In [1]:
import pyspark

In [2]:
import pandas as pd
pd.read_csv('data.csv')

    name  height  is_narcistic
0   Mary     160         False
1   John     180         False
2  Peter     172          True

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/07/04 12:04:46 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
spark

In [6]:
df_pyspark=spark.read.csv('data.csv')

In [7]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string]

In [8]:
df_pyspark.show()

+-----+------+------------+
|  _c0|   _c1|         _c2|
+-----+------+------------+
| name|height|is_narcistic|
| Mary|   160|       false|
| John|   180|       false|
|Peter|   172|        true|
+-----+------+------------+

In [12]:
df_pyspark=spark.read.option('header','true').csv('data.csv')

In [13]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [14]:
df_pyspark.head(3)

[Row(name='Mary', height='160', is_narcistic='false'),
 Row(name='John', height='180', is_narcistic='false'),
 Row(name='Peter', height='172', is_narcistic='true')]

In [15]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- height: string (nullable = true)
 |-- is_narcistic: string (nullable = true)