# topics
- pyspark dataframe
- reading the dataset
- checking the datatypes of the column(schema)
- selecting columns and indexing
- check describe option similar to Pandas
- adding columns
- dropping columns
- renaming columns

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/07/04 12:14:29 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark

In [7]:
# read the data
df_pyspark=spark.read.option('header','true').csv('data/narcism.csv',inferSchema=True)

In [8]:
# check the schema
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- height: integer (nullable = true)
 |-- is_narcistic: boolean (nullable = true)
 |-- experience: integer (nullable = true)

In [10]:
df_pyspark=spark.read.csv('data/narcism.csv',header=True,inferSchema=True)
df_pyspark.show()

+-----+------+------------+----------+
| name|height|is_narcistic|experience|
+-----+------+------------+----------+
| Mary|   160|       false|        30|
| John|   180|       false|        20|
|Peter|   172|        true|        40|
|Frank|   175|       false|        50|
+-----+------+------------+----------+

In [11]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- height: integer (nullable = true)
 |-- is_narcistic: boolean (nullable = true)
 |-- experience: integer (nullable = true)

In [12]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [13]:
df_pyspark.columns

['name', 'height', 'is_narcistic', 'experience']

In [14]:
df_pyspark.head(2)

[Row(name='Mary', height=160, is_narcistic=False, experience=30),
 Row(name='John', height=180, is_narcistic=False, experience=20)]

In [15]:
df_pyspark.show()

+----+------+------------+----------+
|name|height|is_narcistic|experience|
+----+------+------------+----------+
|Mary|   160|       false|        30|
|John|   180|       false|        20|
+----+------+------------+----------+
only showing top 2 rows

In [18]:
df_pyspark.select(['name','experience']).show()

+-----+----------+
| name|experience|
+-----+----------+
| Mary|        30|
| John|        20|
|Peter|        40|
|Frank|        50|
+-----+----------+

In [21]:
df_pyspark['name']

Column<'name'>

In [22]:
df_pyspark.dtypes

[('name', 'string'),
 ('height', 'int'),
 ('is_narcistic', 'boolean'),
 ('experience', 'int')]

In [24]:
df_pyspark.describe().show()

+-------+-----+------+------------------+
|summary| name|height|        experience|
+-------+-----+------+------------------+
|  count|    4|     4|                 4|
|   mean| null|171.75|              35.0|
| stddev| null|   8.5|12.909944487358056|
|    min|Frank|   160|                20|
|    max|Peter|   180|                50|
+-------+-----+------+------------------+

In [28]:
# add a column
df_pyspark=df_pyspark.withColumn('experience after 2 years', df_pyspark['experience']+2)
df_pyspark.show()

+-----+------+------------+----------+------------------------+
| name|height|is_narcistic|experience|experience after 2 years|
+-----+------+------------+----------+------------------------+
| Mary|   160|       false|        30|                      32|
| John|   180|       false|        20|                      22|
|Peter|   172|        true|        40|                      42|
|Frank|   175|       false|        50|                      52|
+-----+------+------------+----------+------------------------+

In [29]:
# drop a column
df_pyspark=df_pyspark.drop('experience after 2 years')
df_pyspark.show()

+-----+------+------------+----------+
| name|height|is_narcistic|experience|
+-----+------+------------+----------+
| Mary|   160|       false|        30|
| John|   180|       false|        20|
|Peter|   172|        true|        40|
|Frank|   175|       false|        50|
+-----+------+------------+----------+

In [30]:
# rename a column
df_pyspark=df_pyspark.withColumnRenamed('name','new_name')
df_pyspark.show()

+--------+------+------------+----------+
|new_name|height|is_narcistic|experience|
+--------+------+------------+----------+
|    Mary|   160|       false|        30|
|    John|   180|       false|        20|
|   Peter|   172|        true|        40|
|   Frank|   175|       false|        50|
+--------+------+------------+----------+

In [31]:
# close the spark session
spark.stop()